<div class="background-image"></div>

<style>
  .background-image {
    width: 100px;
    height: 100px;
    background-image: url("../../public/2026_Explainer_FIA_Front_3_4_1920x1080.avif");
    background-size: cover;
  }
</style>
