---
import { TopBar } from "@/components/TopBar"

import Welcome from "../components/Welcome.astro"
import Layout from "../layouts/main.astro"
import { ModeToggle } from "@/components/ui/ModeToggle"
import heroBg from "../../public/2026_Explainer_FIA_Front_3_4_1920x1080.avif"
import SmallDriverTable from "@/components/standing/driver/small-driver-table.astro"
import TeamDriverTable from "@/components/standing/team/small-team-table.astro"
import { Image } from "astro:assets"
import { NewsCarousel } from "@/components/news-carousel"
import { getF1LatestNews } from "@/lib/f1-news"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const f1News = await getF1LatestNews(9)
---

<Layout>
  <div class="font-body min-h-screen bg-background">
    {/* Hero */}
    <div class="relative h-100 overflow-hidden">
      <Image
        src={heroBg}
        alt="F1 racing background"
        class="absolute inset-0 h-full w-full object-cover opacity-40"
      />
      <div
        class="absolute inset-0 bg-linear-to-b from-background/20 via-background/40 to-background"
      >
      </div>
      <div
        class="relative z-10 flex h-full flex-col items-center justify-center px-4 text-center"
      >
        <h1
          class="font-display mb-2 text-6xl font-black tracking-tight text-foreground"
        >
          F1 <span class="text-primary">STANDINGS</span>
        </h1>
        <p
          class="font-display text-base tracking-[0.3em] text-muted-foreground uppercase"
        >
          2026 World Championship
        </p>
      </div>
      <!-- <div class="flex"> -->

      <!-- </div> -->
    </div>
    <div class="mx-auto mt-6 flex w-full max-w-7xl justify-center px-4">
      <NewsCarousel items={f1News} client:load />
    </div>
    <div class="mr-[12%] ml-[12%] flex gap-10">
      <div><SmallDriverTable /></div>
      <div><TeamDriverTable /></div>
    </div>
  </div>
</Layout>
