---
import TeamTable from "@/components/standing/team/team-table.astro"
import Layout from "@/layouts/main.astro"
---

<Layout>
  <div class="mt-6 mr-[12%] ml-[12%]">
    <TeamTable />
  </div>
</Layout>
